In [2]:
import pandas as pd

In [3]:
url = 'https://en.wikipedia.org/wiki/List_of_Arrow_episodes'

In [4]:
dfs = pd.read_html(url)

In [24]:
df1 = dfs[1]
df2 = dfs[2]
df3 = dfs[3]
df4 = dfs[4]
df5 = dfs[5]
df6 = dfs[6]
df7 = dfs[7]
df8 = dfs[8]

In [25]:
df8.tail()

,No.overall,No. inseason,Title,Directed by,Written by,Original air date,Prod.code,U.S. viewers(millions)
5,166,6,"""Reset""",David Ramsey,Onalee Hunter Hughes & Maya Houston,"November 26, 2019",T27.13956,0.79[175]
6,167,7,"""Purgatory""",James Bamford,Rebecca Bellotto & Rebecca Rosenberg,"December 3, 2019",T27.13957,0.83[176]
7,168,8,"""Crisis on Infinite Earths: Part Four""",Glen Winter,Marv Wolfman & Marc Guggenheim,"January 14, 2020",T27.13958,1.41[177]
8,169,9,"""Green Arrow & The Canaries""""Livin' in the Fut...",Tara Miele,Beth Schwartz & Marc Guggenheim & Jill Blanken...,"January 21, 2020",T27.13959,0.89[179]
9,170,10,"""Fadeout""",James Bamford,Marc Guggenheim & Beth Schwartz,"January 28, 2020",T27.13960,0.73[180]

In [27]:
mydfs = [df1,df2,df3,df4,df5,df6,df7,df8]

In [28]:
dataset = pd.concat(mydfs)

In [33]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 170 entries, 0 to 9
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   No.overall              170 non-null    int64
 1   No. inseason            170 non-null    int64
 2   Title                   170 non-null    object
 3   Directed by             170 non-null    object
 4   Written by              170 non-null    object
 5   Original air date       170 non-null    object
 6   Prod.code               170 non-null    object
 7   U.S. viewers(millions)  170 non-null    object
dtypes: int64(2), object(6)
memory usage: 12.0+ KB

In [34]:
dataset.to_csv('Data/wikipedia.csv',  sep=';')